/*===[Style from Bootstrap]===*/
/**

This style area is what comes inline by default with bootstrap.
You should only edit this styling if you *know* you need to, otherwise leave it alone just like the rest of the bootstrap css.

**/

      body
      {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav
      {
        padding: 9px 0;
      }
