/**

This is the main stylesheet to edit in order to change the theme.
It is kept as minimal as possible in order to not add extra cruft to the install.

**/

/*===[Style from Bootstrap]===*/
/**

This style area is what comes inline by default with bootstrap.
You should only edit this styling if you *know* you need to, otherwise leave it alone just like the rest of the bootstrap css.

**/

      body
      {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav
      {
        padding: 9px 0;
      }

/**

End bootstrap styling.

**/

footer
{
    margin-top: 5px;
    padding-top: 5px;
}

/**

Category page styling

**/

/*===[Category_list]===*/

#product_list
{
    list-style: none;
}

.product_span
{
    width: 200px !important;
     -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 8px;
    margin-left: 0 !important;
    margin-right: 8px;
    text-align: center;
    display: inline-block;
}

/*===[Product Page]===*/

.product_form
{
    text-align: center;
}

/**

Utilities

These are snippets of CSS code to either make certain things look better or to
do liitle bits of work around the site.

**/

/*===[Current Category ]===*/

li.current_category
{
    background: #dedede;
}

.arrow-left
{
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid blue;
    display: block;
}

/*===[On-Off switch style]===*/
/**
Here is an example HTML setup for using the On-Off switch on the front-end:


<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
        <div class="onoffswitch-inner">
            <div class="onoffswitch-active">ON</div>
            <div class="onoffswitch-inactive">OFF</div>
        </div>
        <div class="onoffswitch-switch"></div>
    </label>
</div>


If you wish to create your own switch style, you can visit   http://proto.io/freebies/onoff/   where this style was generated and make your own.

Pleae do note that IE6-8 do not support the :checked CSS selector.  You will need some extra javascript to make this work, but it is up to you to find and apply that javascript.

**/

.onoffswitch
{
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox
{
    display: none;
}

.onoffswitch-label
{
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner
 {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > div
{
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active
{
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive
{
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch
{
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
{
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
    right: 0px;
}
